* {
    box-sizing: border-box;
  }
  
  body 
  {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Style the header */
  header 
  {
    background-color: rgb(116, 130, 141);
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav 
  {
    float: left;
    width: 20%;
    height: 510px;
    background: rgb(85, 96, 102);
    padding: 5%;
    text-align: center;
  }
  
  /* Style the list inside the menu */
  nav ul 
  {
    list-style-type: none;
    padding: 0;
  }
  
  article 
  {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: rgb(56, 63, 68);
    color: lightgrey;
    height: 510px;
  }
  aside
  {
    float: right;
    width: 20%;
    height: 510px;
    background: rgb(56, 63, 68);
    padding: 5%;
    text-align: center;
  }
  
  /* Style the footer */
  footer 
  {
    background-color: rgb(116, 130, 141);
    padding: 10px;
    text-align: center;
    color: white;
  }

  img
  {
    border-radius: 50%;
    size-adjust: 25%;
  }

  /* Clear floats after the columns */
  section::after 
  {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) 
  {
    nav, article, aside 
    {
      width: 100%;
      height: auto;
    }
  }